<section class="content-header">
  <h1>Organizer <small></small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.userlist">Organizer Form</a></li>
    <li class="active">Organizer Form</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Organizer Form</h3>
        </div>
        <form class="form-horizontal" name="eventTypeForm" ng-submit="vm.save(eventTypeForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': eventTypeForm.name.$invalid && ( vm.formSubmitted || eventTypeForm.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.name" name="name" placeholder="Name" required>
                <p ng-show="eventTypeForm.name.$error.required && ( vm.formSubmitted || eventTypeForm.name.$touched)" class="help-block">Name is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.description" name="description" placeholder="Description">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.address" name="address" placeholder="Address">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">City</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.city" name="city" placeholder="City">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Province</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.province" name="province" placeholder="Province">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Telp 1</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.telp_1" name="telp_1" placeholder="Telp 1">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Telp 2</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.telp_2" name="telp_2" placeholder="Telp 2">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Website</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.website" name="website" placeholder="Website">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Facebook</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.fb" name="fb" placeholder="Facebook">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Twitter</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.twitter" name="twitter" placeholder="Twitter">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Line</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.data.line" name="line" placeholder="Line">
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.organizerlist" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
            <button type="submit" class="btn btn-primary pull-right">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
